
   
<!-- =========================
        Breadcrumb Section
    ============================== -->
    <section class="blog-slider-tow-grid wd-slider-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<h1 class="wishlist-slider-title">Shortcode for Call to Action</h1>
	                </div>
				</div>
			</div>
		</div>
    </section>
   
    <div class="sc-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Call to action style one</h2>
                </div>
            </div>
        </div>
    </div>
    

    <!-- =========================
        Message Section
    ============================== -->
	<section id="message">
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-center">
					<div class=" wow fadeInUp animated" data-wow-delay="300ms">
						<div class="border-title">
							<h1 class="text-uppercase">MILANCELOS</h1>
						</div>
						<div class="description">
							<p>Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus meleifend menean viverra auctor </p>
						</div>
						<a href="shop-left-sidebar.html" class="btn btn-primary wd-shop-btn">
							Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    
    <div class="sc-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Call to action style two</h2>
                </div>
            </div>
        </div>
    </div>

    


    <!-- =========================
        Call To Action Section
    ============================== -->
    <section id="call-to-action" class="d-flex align-items-center">
    	<div class="container ">
    		<div class="row ">
    			<div class="col-12 col-md-6">
    				<h2 class="call-to-action-message">The most happy <span class="bold-font">Comparison</span> theme to Build with great <span class="bold-font">Features.</span></h2>
    			</div>
    			<div class="col-12 col-md-6 text-right">
    				<div class="call-to-action-buy-now">
    					<!-- By Theme -->
						<a href="https://themeforest.net/item/blurb-price-comparison-affiliate-website-multivendor-store-and-product-review-html5-template/20880845" class="btn btn-primary wd-shop-btn">
							Purchase Theme <i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
    			</div>
    		</div>
    	</div>
    </section>

    

    <!-- ======