

    <!-- =========================
        Slider Section
    ============================== -->
    <section id="main-slider-section" class="review-slider-section coupon-bc">
		<div class="container">
			<div class="review-search-slider-section row justify-content-center">
                <div class="col-12 col-lg-12">
                    <h1 class="review-slider-title">Blurb Coupon - Find Your Deal !</h1>
                    <p class="review-slider-subtitle">Check your coupon. Get your coupon. Deal smarter.</p>
                </div>
                <div class="col-12 col-lg-12 col-xl-12 coupon-page-search">
                   <div class="input-group wd-btn-group header-search-option">
                        <input class="form-control blurb-search" placeholder="Search product coupon" aria-label="Search for..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary wd-btn-search" type="button">
                                Search
                            </button>
                        </span>
                    </div>
                    <button type="button" class="btn btn-secondary coupon-btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    <div class="dropdown-menu wd-dropdown-menu coupon-cat">
                        <div class="search-category">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="search-category-title">Cameras and photos</h6>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Camera Electronice</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Camera Appereances</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> DSLR</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Video cameras</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Top Cameras</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="search-category-title">Cameras and photos</h6>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Camera Electronice</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Camera Appereances</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> DSLR</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Video cameras</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Top Cameras</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </section>
    
    
    <!-- =========================
        Logo slider section
    ============================== -->
    
    <section class="logo-sliderc">
        <div class="container-fluid custom-width">
            <div class="row">
                <div class="col-xl-12">
                    <div class="mark-logo-slider owl-carousel owl-theme">
                       <div class="sin-logo d-flex justify-content-center">
                           <a href="#"><img src="img/client/mar-logo1.png" alt=""></a>
                       </div>
                       <div class="sin-logo d-flex justify-content-center">
                           <a href="#"><img src="img/client/mar-logo2.png" alt=""></a>
                       </div>
                       <div class="sin-logo d-flex justify-content-center">
                           <a href="#"><img src="img/client/mar-logo3.png" alt=""></a>
                       </div>
                       <div class="sin-logo d-flex justify-content-center">
                           <a href="#"><img src="img/client/mar-logo4.png" alt=""></a>
                       </div>
                       <div class="sin-logo d-flex justify-content-center">
                           <a href="#"><img src="img/client/mar-logo5.png" alt=""></a>
                       </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- =========================
        Coupon section
    ============================== -->
    
    <section class="coupon-area">
        <div class="container-fluid custom-width">
            <div class="row">
                <div class="col-lg-9">
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2 col-xl-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2 col-xl-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg2.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg3.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg4.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg5.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                    <!--Single coupon-->
                    <div class="sin-coupon row no-gutters">
                        <div class="col-sm-3 col-lg-2">
                            <div class="coupon-img">
                                <span class="new">new</span>
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <img src="img/product-img/cimg2.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-6 col-xl-7">
                            <div class="coupon-content">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                </div>
                                <h2>Up To 40% - 70% Off January Savings Event</h2>
                                <p>IMPRESSIVE SOUND QUALITY IS THE ULTIOAL & assive the  noise isolating, NOT active noise the world it cancellation(ANC).</p>
                                <span class="price">$159 - $ 250</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-3">
                            <div class="coupon-code">
                               <div class="sav-coupon-wrap">
                                   <a class="sav-coupon" href="#" data-toggle="tooltip" data-placement="top" title="Save Coupon">
<i class="fa fa-star-o" aria-hidden="true"></i></a>
                               </div>
                                <button type="button" class="coupon-hcode" data-toggle="modal" data-target=".bd-example-modal-lg-product-1">
                                     <span class="getcode">Get Code</span>
                                    <span class="hcode">FGGH</span>
                                </button>
                                <p>Expires 1/1/2018</p>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="coupon-sidebar">
                       <!--Single coupon sidebar-->
                        <div class="coupon-sin-sidebar">
                            <h2>Propular Categories</h2>
                            <div class="csb-inner">
                                <form action="/action_page.php" method="get">
                                   <ul>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Software</span> <span class="pcn">{05}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">PC Accessories </span> <span class="pcn">{07}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Business</span> <span class="pcn">{15}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Entertainment</span > <span class="pcn">{02}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Personal Care</span> <span class="pcn">{35}</span></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <!--Single coupon sidebar-->
                        <div class="coupon-sin-sidebar">
                            <h2>Newsletter</h2>
                            <div class="csb-inner">
                               <p>Don't miss to get discount</p>
                                <form action="/action_page.php" method="get">
                                    <input type="text" placeholder="Enter Your Email...">
                                    <input type="submit" value="subscribe">
                                   
                                </form>
                            </div>
                        </div>
                        <!--Single coupon sidebar-->
                        <div class="coupon-sin-sidebar">
                            <h2>Propular Store</h2>
                            <div class="csb-inner">
                                <form action="/action_page.php" method="get">
                                   <ul>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Marke 1</span> <span class="pcn">{09}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Marke 2</span> <span class="pcn">{01}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Marke 3</span> <span class="pcn">{08}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Marke 4</span > <span class="pcn">{15}</span></li>
                                       <li><input type="checkbox" name="vehicle" value="Bike"><span class="pc">Marke 5</span> <span class="pcn">{25}</span></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        
                        <!--Single coupon sidebar-->
                        <div class="coupon-sin-sidebar">
                            <h2>Advertisement</h2>
                            <div class="csb-inner">
                                <a href="#">
                                    <img src="img/product-img/Coupon-adv.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!--Coupon popup -->
    
	
	<!-- Modal -->
<div class="modal fade bd-example-modal-lg-product-1" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="coupon-modal modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>Scribble Education Store: Save Up To 50% + Free Shipping</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="coupon-modal-body">
           <p class="deal-activity">DEAL ACTIVATED, NO COUPON CODE REQUIRED!</p>
           <div class="coupon-show">
              <p>msejdwsdisdfllkfosk</p>
              <a href="#">http://www.themeim.com/demo/blurb/</a>
           </div>
           <div class="coupon-feedback">
               <div class="smile-wrapper">
                   <ul class="smile">
                   <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
                   <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
                   <li><a href="#"><i class="fa fa-star-o"></i></a></li>
               </ul>
                <p>Did it work</p>
               </div>
               <a href="" class="mod-store-btn">Go to Store</a>
           </div>
           <div class="coupon-accordion">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="coupon-card-btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Coupon details</button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body coupon-card-body">
                                <h6>Copon Details :</h6>
                                <p>Enter this code at chackout get 40% discount for all printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span>Expired  Date :  01 / 02 / 2018</span>
                                <span>Submitted :  A week ago</span>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
      <div class="modal-footer">
        <div class="mf-left"> <i class="fa fa-signal" aria-hidden="true"></i>17548 People View This</div>
        <div class="mf-right">
            <ul class="coupon-soc">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
	


	